@model Models.EF._event

@{
    ViewBag.Title = "CreateEvent";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{}
@section scriptNest{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#GetImage").click(function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#txtImage').val(url);
                }
                finder.popup();
            });

            $('#txtDatePicker').datepicker(
            {
                dateFormat: 'yy/mm/dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '1950:2100'
            });

            $('#txtStartTime').timepicker({
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });

            $('#txtEndTime').timepicker({
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });

        });

        //Tạo Editor cho nội dung tin
        var Contenteditor = CKEDITOR.replace('txtEventDetails', {
            customConfig: '/~/Assets/Client/Admin/ckeditor/config.js',
        });

        //Tạo Editor cho tóm tắt tin
        var DescriptionEditor = CKEDITOR.replace('txtDescription', {
            customConfig: '/~/Assets/Client/Admin/ckeditor/config.js',
        });

    </script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h4>Tạo mới sự kiện</h4>
            </div>
            @using (Html.BeginForm("CreateEvent", "Events", FormMethod.Post))
            {
                <div class="panel-body">

                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EventDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.EventDate, new { @class = "form-control", @id = "txtDatePicker" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-6">
                                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control", @id = "txtStartTime" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(model => model.EndTime, new { @class = "form-control", @id = "txtEndTime" })
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @id = "txtImage" })
                            </div>
                            <a href="#" id="GetImage">Chọn hình</a>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "txtDescription" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @id = "txtEventDetails" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="col-md-6"></div>
                                @Html.EditorFor(model => model.Status)
                                @Html.LabelFor(model => model.Status)
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.TopHot)
                                @Html.LabelFor(model => model.TopHot)
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>

                </div>
            <!--./panel-body-->
                <div class="panel-footer">
                    <div class="btn btn-outline btn-success">@Html.ActionLink("Quay lại", "Index")</div>
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>



