@model Models.EF.Publisher

@{
    ViewBag.Title = "CreatePublisher";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{}
@section scriptNest{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#GetImage").click(function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#txtImage').val(url);
                }
                finder.popup();
            });
        });

        //Tạo Editor cho nội dung tin
        var Contenteditor = CKEDITOR.replace('txtContent', {
            customConfig: '/~/Assets/Client/Admin/ckeditor/config.js',
        });

        //Tạo Editor cho tóm tắt tin
        var DescriptionEditor = CKEDITOR.replace('txtDescription', {
            customConfig: '/~/Assets/Client/Admin/ckeditor/config.js',
        });

    </script>
}

<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h4>Tạo mới nhà xuất bản</h4>
            </div>
            @using (Html.BeginForm("CreatePublisher", "Publisher", FormMethod.Post))
            {
                <div class="panel-body">

                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Phone, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "txtContent" })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2"></div>
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.status)
                                @Html.LabelFor(model => model.status)
                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>

                </div>
            <!--./panel-body-->
                <div class="panel-footer">
                    <div class="btn btn-outline btn-success">@Html.ActionLink("Quay lại", "Index")</div>
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>

