@using System.Xml.Linq;
@{

    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listContent = (List<Models.EF.Content>
    )ViewBag.listContent;
    var NewestContent = (List<Models.EF.Content>
        )ViewBag.NewestContent;
    Models.EF.Content TopHotContent;
    if (ViewBag.TopHotContent != null)
    {
        TopHotContent = (Models.EF.Content)ViewBag.TopHotContent;
    }
    else
    {
        TopHotContent = new Models.EF.Content();
    }
    //lấy ra danh sách  Books
    List<Models.ViewModels.BooksViewModel> listBooks;
    if (ViewBag.listBooks != null)
    {
        listBooks = (List <Models.ViewModels.BooksViewModel >)ViewBag.listBooks;
    }
    else
    {
        listBooks = new List<Models.ViewModels.BooksViewModel>();
    }

    //Danh sách thực đơn bán chạy
    List<Models.EF.Product>
        TopHotProducts = null;
    if (ViewBag.TopHotProducts != null)
    {
        TopHotProducts = (List<Models.EF.Product>
            )ViewBag.TopHotProducts;
    }
    else
    {
        TopHotProducts = new List<Models.EF.Product>
            ();
    }
    //Lấy ra sự kiện mới nhất
    List<Models.EF._event>
        NewestEvents = null;
    if (ViewBag.NewestEvents != null)
    {
        NewestEvents = (List<Models.EF._event>
            )ViewBag.NewestEvents;
    }
    else
    {
        NewestEvents = new List<Models.EF._event>
            ();
    }
    //Lấy ra sự kiện TopHot
    List<Models.EF._event>
        EventTopHot = null;
    if (ViewBag.EventTopHot != null)
    {
        EventTopHot = (List<Models.EF._event>
            )ViewBag.EventTopHot;
    }
    else
    {
        EventTopHot = new List<Models.EF._event>
            ();
    }
    //Lấy ra những tin LawCorner TopHot
    List<Models.EF.LawCorner> TopHotLawCorner = null;
    if (ViewBag.TopHotLawCorner != null)
    {
        TopHotLawCorner = (List<Models.EF.LawCorner>)ViewBag.TopHotLawCorner;
    }
    else
    {
        TopHotLawCorner = new List<Models.EF.LawCorner>();
    }
    //Lấy ra 3 tin luật mới nhất
    List<Models.EF.LawCorner>
        NewestLawCorner = null;
    if (ViewBag.NewestLawCorner != null)
    {
        NewestLawCorner = (List<Models.EF.LawCorner>
            )ViewBag.NewestLawCorner;
    }
    else
    {
        NewestLawCorner = new List<Models.EF.LawCorner>
            ();
    }

    //Lấy ra hình ảnh trong album không gian quán thuộc tophot
    Models.EF.ImageGallery
    listGallery = null;
    List<string>
        listImageReturn = new List<string>
            ();
    if (ViewBag.listGallery != null)
    {
        listGallery = (Models.EF.ImageGallery
        )ViewBag.listGallery;
        var images = listGallery.ImageDetail;
        XElement xElement = XElement.Parse(images);
        foreach (XElement element in xElement.Elements())
        {
            listImageReturn.Add(element.Value);
        }
    }
    else
    {
        listGallery = new Models.EF.ImageGallery
        ();
    }


}
<main id="main-content">
    <div class="container">
        <!--Tin tức-->
        <div class="l-new">
            <div class="row row-8">
                <div class="col-md-9 col-left">
                    <div class="row row-8">
                        <!--Biggest image in this section-->
                        <div class="col-sm-8">
                            <div class="theme-default dots-none" data-interval="3">
                                <div id="slider-nivo" class="nivoSlider">
                                    @{
                                        var urltintuc1 = "/tin-tuc/" + TopHotContent.MetaTitle + "-" + TopHotContent.ID;
                                    }
                                    <a href="@urltintuc1" target="_blank">
                                        <img src="@TopHotContent.Image" alt="tin mới nhất" />
                                    </a>
                                </div>

                                <div class="title-news">
                                    <h3><a href="@urltintuc1" title="@TopHotContent.Name" target="_blank">@TopHotContent.Name</a></h3>
                                </div>
                            </div>
                        </div>
                        <!--./Biggest image in this section-->
                        <!--List tin mới nhất bên phải-->
                        <div class="col-sm-4">
                            <div class="mod-news">
                                <h2>
                                    <i class="fa fa-clock-o color-pink" aria-hidden="true"></i> tin mới nhất
                                </h2>
                                <div class="button-control pull-right text-right">
                                        <a href="#" title="" class="disable"><img src="~/Assets/Client/images/img-bt2.png" alt=""></a>
                                        <a href="#" title=""><img src="~/Assets/Client/images/img-bt.png" alt=""></a>
                                    </div>
                                <div class="clear"></div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <ol>
                                            @foreach (var item in NewestContent)
                                            {
                                                var urltintuc2 = "/tin-tuc/" + item.MetaTitle + "-" + item.ID;
                                                <li>
                                                    <a href="@urltintuc2" title="@item.Name" target="_blank">@item.Name</a>
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--./List tin mới nhất bên phải-->
                    </div>

                    <!--Slider in this section-->
                    <div class="slider-mini slider style-arrow-animate style-arrow-v2 dots-none">
                        @foreach (var item in listContent)
                        {
                            var urltintuc3 = "/tin-tuc/" + item.MetaTitle + "-" + item.ID;
                            <div class="item">
                                <div class="thumnail">

                                    <div class="box-img">
                                        <a href="@urltintuc3" title="@item.Name" data-id="@item.ID" target="_blank">
                                            <img src="@item.Image" alt="@item.Name">
                                        </a>
                                    </div>
                                    <div class="box-text">
                                        <h3><a href="@urltintuc3" data-id="@item.ID" target="_blank">@item.Name</a></h3>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                    <!--./Slider in this section-->
                    <!--/.slider-mini slider style-arrow-animate style-arrow-v2 dots-none-->
                </div>
                <!--/.col-md-9 col-left-->

                <!--Banner quảng cáo-->
                <div class="col-md-3 col-left hiddens-md">
                    <div class="mod-quang-cao mg-20px">
                        <a href="#" title="Quang cao">
                            <img src="~/Assets/Client/images/quang-cao1.jpg" alt="quang-cao">
                        </a>
                    </div>
                    <div class="mod-quang-cao mg-20px ps-rv">
                        <a href="#" title="Quang cao">
                            <img src="~/Assets/Client/images/img6.jpg" alt="quang-cao">
                        </a>
                        <div class="ps-as text-center">
                            <p>
                                Giảm giá <br>
                                <span class="strong">50%</span>
                                Bò Nướng Than Hồng
                            </p>
                        </div>
                    </div>
                </div>
                <!--.Banner quảng cáo-->

            </div>
        </div>
        <!--./Tin tức-->

        <!--Slider  quảng cáo-->
        <div class="mod-slide-ads margin-bottom-5em">
            <div class="row row-8">
                <div class="col-sm-8 col-left">
                    <div class="single-item slider-v2">
                        <div class="item">
                            <div class="thumnail-slider ps-rv color-white">
                                <div class="box-img">
                                    <img src="/Assets/Client/images/img7.jpg" alt="">
                                </div>
                                <div class="ps-as caption-slider">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h2><a href="#" title="CÀ PHÊ SỐ 1">CÀ PHÊ SỐ 1</a></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                Được chế biến từ những hạt Culi Robusta ngon nhất có hương thơm, vị êm nhẹ vị đắng và nước pha màu đen
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumnail-slider ps-rv color-white">
                                <div class="box-img">
                                    <img src="/Assets/Client/images/img7.jpg" alt="">
                                </div>
                                <div class="ps-as caption-slider">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h2><a href="#" title="CÀ PHÊ SỐ 1">CÀ PHÊ SỐ 1</a></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                Được chế biến từ những hạt Culi Robusta ngon nhất có hương thơm, vị êm nhẹ vị đắng và nước pha màu đen
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumnail-slider ps-rv color-white">
                                <div class="box-img">
                                    <img src="/Assets/Client/images/img7.jpg" alt="">
                                </div>
                                <div class="ps-as caption-slider">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h2><a href="#" title="CÀ PHÊ SỐ 1">CÀ PHÊ SỐ 1</a></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                Được chế biến từ những hạt Culi Robusta ngon nhất có hương thơm, vị êm nhẹ vị đắng và nước pha màu đen
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 col-right">
                    <div class="mod-quang-cao ps-rv style-v2">
                        <a href="#" title="Quang cao">
                            <img src="~/Assets/Client/images/img8.jpg" alt="quang-cao">
                        </a>
                        <div class="ps-as text-center ">
                            <p>
                                <span class="text1">Khuyến mãi</span>
                                <span class="text2 strong">Đặt Bàn Trước</span>
                                <span class="text3">nhận ngay phiếu mua sách</span>
                                <span class="text4">từ 10/11/2015 đến  20/11/2015</span>
                                <a href="#" class="btn btn-danger margin-top-1em" title="Xem chi tiết">Xem chi tiết</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--./Slider  quảng cáo-->

        <!--Không gian quán-->
        <div class="mod-khong-gian margin-bottom-2em">
            <h2 class="text-center title-post">không gian quán</h2>
            <div class="row margin-top-2em">
                <!--List of 9 images at the right corner of this section-->
                <div class="col-md-6">
                    <div class="row">
                        @if (listImageReturn.Count != 0)
                        {
                            if (listImageReturn.Count > 9)
                            {
                                for (int i = 0; i < 9; i++)
                                {
                                    <div class="col-sm-4">
                                        <a href="@listImageReturn[i]" title="@listGallery.Name" class="boxer">
                                            <img class="square_images" src="@listImageReturn[i]" alt="@listGallery.Name" >
                                        </a>
                                    </div>
                                }
                            }
                            else
                            {
                                for (int i = 0; i < listImageReturn.Count; i++)
                                {
                                    <div class="col-sm-4">
                                        <a href="@listImageReturn[i]" title="@listGallery.Name" class="boxer">
                                            <img class="square_images" src="@listImageReturn[i]" alt="@listGallery.Name" >
                                        </a>
                                    </div>
                                }
                            }

                        }

                    </div>
                </div>
                <!--./List of 9 images at the right corner of this section-->
                <!--Slider of this section-->
                <div class="col-md-6">
                    <div class="slider-wrapper theme-default dots-none" data-interval="3">
                        <div id="slider2" class="nivoSlider">
                            @if (listImageReturn.Count != 0)
                            {
                                foreach (var image in listImageReturn)
                                {
                                    <img src="@image" data-thumb="@image" alt=""  />

                                }
                            }

                            @*<img src="~/Assets/Client/assets/images/img32.jpg" data-thumb="~/Assets/Client/assets/images/img1.jpg" alt="" />
                                <img src="~/Assets/Client/assets/images/img32-2.jpg" data-thumb="~/Assets/Client/assets/images/img1.jpg" alt="" />*@
                        </div>
                    </div>
                </div>
                <!--./Slider of this section-->
            </div>
        </div>
        <!--./End không gian quán-->

        <!--Sự kiện-->
        <div class="mod-event margin-bottom-3em">
            <h2 class="text-center title-post">Sự kiện</h2>
            <!--List of three events above-->
            <div class="row">
                @foreach (var item in EventTopHot)
                {
                    var urlEvent1 = "/view-su-kien/" + item.MetaTitle + "-" + item.ID;
                    <div class="col-sm-4">
                        <div class="thumnail-event ps-rv">
                            <div class="box-img ps-rv">
                                <a href="@urlEvent1" title="@item.Name">
                                    <img src="@item.Image" alt="@item.Name">
                                </a>
                                <div class="event-date-time ps-as">
                                    <div class="event-date">
                                        <span class="date">@(item.EventDate != null ? item.EventDate.Value.ToString("dd") : "null")</span>
                                        <span class="month"> Tháng @(item.EventDate != null ? item.EventDate.Value.ToString("MM") : "null")</span>
                                        <span class="year"> @(item.EventDate != null ? item.EventDate.Value.ToString("yyyy") : "null")</span>
                                    </div>
                                    <div class="event-time">
                                        @(item.StartTime != null ? item.StartTime : "null")
                                        <span class="block">–</span>
                                        @(item.EndTime != null ? item.EndTime : "null")
                                    </div>
                                </div>
                            </div>
                            <div class="caption-event">
                                <h3><a href="@urlEvent1" title="@item.Name">@item.Name</a></h3>
                                <span class="event-location block"><i class="fa fa-map-marker" aria-hidden="true"></i> Phòng VIP Book Coffee</span>
                                <p>
                                    @Html.Raw(item.Description)
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!--./List of three events above-->
            <!--List of three events below-->
            <div class="row padding-bottom-2em">
                @foreach (var item in  NewestEvents)
                {
                    var urlEvent2 = "/su-kien-top-hot/" + item.MetaTitle + "-" + item.ID;
                    <div class="col-sm-4">
                        <div class="thumnail-event-date">
                            <div class="date-event bg-pink">
                                <span class="day">@(item.EventDate != null ? item.EventDate.Value.ToString("dd") : "null")</span>
                                <span class="mouth">T @(item.EventDate != null ? item.EventDate.Value.ToString("MM") : "null")</span>
                            </div>
                            <div class="text-event">
                                <h3><a href="@urlEvent2" title="@item.Name"> @item.Name</a></h3>
                                <p>
                                    <span class="event-location">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        @(item.StartTime != null ? item.StartTime : "null")
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        Book Coffee
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!--./List of three events below-->
            <p class="text-center">
                <a href="#" title="Sự kiện khác" class="btn btn-info btn-border"><i class="fa fa-search" aria-hidden="true"></i> Sự kiện khác</a>
            </p>
        </div>
        <!--./End Sự kiện-->

        <!--Thư viện sách-->
        <div class="l-book margin-bottom-5em">
            <h2 class="text-center title-post">Thư viện sách</h2>
            <!--Big slider of this section-->
            <div class="single-item slider-book">
                @foreach (var item in listBooks)
                {
                    var urlBook1 = "/sach/" + item.MetaTitle + "-" + item.ID;
                    <div class="item">
                        <div class="bg-pink mod-book">
                            <div class="row">
                                <div class="col-sm-7 col-left">
                                    <div class="text-book color-white">
                                        <h2>
                                            <a href="@urlBook1" title="Cô Gái Mất Tích - Gone Girl">@item.Name</a>
                                        </h2>
                                        <p>
                                            Tác giả: <strong><em>@item.Author</em></strong> <br>
                                            Thể loại: <strong><em>@item.CategoryName</em></strong> <br>
                                            Xuất bản: <strong><em>@item.publisher</em></strong> <br>
                                        </p>
                                        <p>
                                            <em>
                                                @Html.Raw(item.Description)
                                            </em>
                                        </p>
                                        <p>
                                            <em>
                                                @Html.Raw(item.Detail)
                                            </em>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-right">
                                    <div class="link-image">
                                        <a href="@urlBook1" title="">
                                            <img src="@item.Image" alt="img" >
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!--End bg-pink mod-book-->
                    </div>
                }
            </div>
            <!--./Big slider of this section-->
            <!--List of four books below slide -->
            <div class="row margin-bottom-1em">
                @foreach (var item in listBooks)
                {
                    var urlBook2 = "/sach/" + item.MetaTitle + "-" + item.ID;
                    <div class="col-sm-3">
                        <div class="thumnail-book text-center">
                            <div class="box-img">
                                <a href="@urlBook2" title="">
                                    <img src="@item.Image" alt="@item.Name" class="square_images">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>
                                    <a href="@urlBook2" title="@item.Name">@item.Name</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!--./List of four books below slide -->
            <p class="text-center">
                <a href="#" title="tra cứu sách" class="btn btn-info btn-border"><i class="fa fa-search" aria-hidden="true"></i> tra cứu sách</a>
            </p>
        </div>
        <!--./Thư viện sách-->

        <!--Thực đơn bán chạy-->
        <div class="mod-feature margin-bottom-4em">
            <div class="">
                <h2 class="text-center title-post">Thực đơn bán chạy</h2>
                <hr class="full-hr">
            </div>

            <div class="row">
                @foreach (var item in TopHotProducts)
                {
                    var URLProduct1 = "/thuc-don-ban-chay/" + item.MetaTitle + "-" + item.ID;
                    <div class="col-sm-4">
                        <div class="thumnail-feature ps-rv">
                            <div class="box-img">
                                <img src="@item.Image" alt="" class="square_images" >
                            </div>
                            <div class="caption-feature bg-pink color-white">
                                <h3>@item.Name</h3>
                                <span class="price">@(item.Price != null ? item.Price.Value.ToString("00,000") : "Call") VNĐ</span>
                            </div>
                            <a href="@URLProduct1" class="view-link ps-as" title="@item.Name"></a>
                        </div>
                    </div>
                }
            </div>

        </div>
        <!--/.Thực đơn bán chạy-->

        <!--Góc cafe luật-->
        <div class="mod-cafe-luat margin-bottom-3em">
            <h2 class="text-center title-post">Góc cafe luật</h2>
            <div class="row padding-bottom-1em">
                <!--slider at left-->
                <div class="col-md-7 col-one">
                    <div class="single-item slider-v2">
                        @foreach (var item in TopHotLawCorner)
                        {
                            var urlLawCorner1 = "/goc-cafe-luat/" + item.MetaTitle + "-" + item.ID;
                            <div class="item">
                                <div class="thumnail-luat ps-rv color-white">
                                    <div class="box-img">
                                        <a href="@urlLawCorner1" title="@item.Name">
                                            <img src="@item.Image" alt="@item.Name">
                                        </a>
                                    </div>
                                    <div class="caption ps-as">
                                        <h2>
                                            <a href="@urlLawCorner1" title="@item.Name">
                                                @item.Name
                                            </a>
                                        </h2>
                                        <p>
                                            @Html.Raw(item.Description)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!--./slider at left-->
                <!--list at right-->
                <div class="col-md-5 col-two">
                    <div class="news-list">
                        @foreach (var item in NewestLawCorner)
                        {
                            var urlLawCorner2 = "/goc-cafe-luat/" + item.MetaTitle + "-" + item.ID;
                            <article>
                                <div class="row row-10">
                                    <div class="col-xs-4 col-left">
                                        <a href="@urlLawCorner2" title="@item.Name">
                                            <img src="@item.Image" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 col-right">
                                        <div class="news-summary">
                                            <h3>
                                                <a href="@urlLawCorner2" title="@item.Name">
                                                    @item.Name
                                                </a>
                                            </h3>
                                            <div class="mom-post-meta">
                                                <span class="entry-date">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> @item.CreatedDate
                                                </span>
                                                <span class="span-admin">
                                                    <a href="#" title="@item.CreatedBy">
                                                        <i class="fa fa-user" aria-hidden="true"></i>
                                                        @item.CreatedBy
                                                    </a>
                                                </span>
                                            </div>
                                            <p>
                                                @Html.Raw(item.Description)
                                            </p>

                                            <p class="text-right">
                                                <a href="@urlLawCorner2" class="read-more-link">Xem chi tiết</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }

                    </div>
                </div>
                <!--./list at right-->
            </div>
            <p class="text-center">
                <a href="#" title="tra cứu sách" class="btn btn-info btn-border"><i class="fa fa-search" aria-hidden="true"></i> tra cứu sách</a>
            </p>
        </div>
        <!--./End Góc cafe luật-->

    </div>
</main>
@section scriptNest{
    <script src="~/Assets/Admin/js/HomeController.js"></script>
}