@model Models.EF.Category

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{

}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h4>Cập nhật thông tin loại tin</h4>
            </div>
            @using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
            {
                <div class="panel-body">

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Status)
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShowOnHome, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.ShowOnHome)
                                    @Html.ValidationMessageFor(model => model.ShowOnHome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.ValidationMessage("UpdateCategoryError")
                            </div>
                        </div>
                        
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="btn btn-outline btn-success">@Html.ActionLink("Quay lại", "Index")</div>
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                </div>
            }
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
<!-- /.row -->
@*<a href="~/Areas/Admin/Views/Category/UpdateCategory.cshtml">~/Areas/Admin/Views/Category/UpdateCategory.cshtml</a>*@