@model Models.EF.User

@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header {
    Chi tiết người dùng
}

<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
           <h4>@Html.DisplayNameFor(model => model.UserName) : @Html.DisplayFor(model => model.UserName)</h4>
        </div>
        <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Address)</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                                <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                                <th>@Html.DisplayNameFor(model => model.ModifiedDate)</th>
                                <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                                <th>@Html.DisplayNameFor(model => model.Status)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                                <td>@Html.DisplayFor(model => model.Address)</td>
                                <td>@Html.DisplayFor(model => model.Email)</td>
                                <td>@Html.DisplayFor(model => model.Phone)</td>
                                <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                                <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                                <td>@Html.DisplayFor(model => model.ModifiedDate)</td>
                                <td>@Html.DisplayFor(model => model.ModifiedBy)</td>
                                <td>@Html.DisplayFor(model => model.Status)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
        </div>
        <!--/. panel-body-->
        <div class="panel-footer">
            <div class="btn btn-outline btn-success">@Html.ActionLink("Quay lại", "Index")</div>
            <div class="btn btn-outline btn-success">@Html.ActionLink("Cập nhật", "EditUser", "User", new { id = Model.ID }, null) </div>
            
        </div>
    </div>
</div>
