@model IEnumerable<Models.EF.ProductCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
<h1>Danh sách các loại sản phẩm</h1>    
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                <a href="/Admin/ProductCategory/CreateProductCategory">
                    <i class="fa fa-plus-square" aria-hidden="true">
                        Tạo mới
                    </i>

                </a>
                @*@Html.ActionLink("Tạo mới", "CreateCategory", "Category")*@

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã loại</th>
                            <th>Loại sản phầm</th>
                            <th>Ngày tạo </th>
                            <th>Người tạo</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int No = 1;
                            foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td>@No</td>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CreatedBy</td>
                                    <td>
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                        <a href="/Admin/ProductCategory/ProductCategoryDetail/@item.ID">Chi tiết</a>
                                        |
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <a href="/Admin/ProductCategory/UpdateProductCategory/@item.ID">Sửa</a>
                                        |
                                        @*<a href="/Admin/User/delete/@item.ID">Xóa</a>*@
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        @Ajax.ActionLink("Xóa", "DeleteProductCategory", new { @id = item.ID }, new AjaxOptions
                                   {
                                       //Hiện thông báo confirm trước khi xóa
                                       Confirm = "Bạn có thực sự muốn xóa loại sản phẩm  này?",
                                       OnComplete = "$('#row_" + item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                                No++;
                            }
                        }
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

@section scriptNest{
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tất cả"]] ,
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ Dòng"
                }
            });
        });
    </script>
}